Welcome to the 
= ORG::NAME 
community! Please confirm that this is your email by visiting the following URL:

%a{:href => "https://#{ORG::DOMAIN}/confirm/#{@uuid}"}
  = "https://#{ORG::DOMAIN}/confirm/#{@uuid}"